.blog ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.blog li {
  display: inline-block;
  margin: 20px;
}

.blog a {
  text-decoration: none;
  color: #6c4ab6;
}

.posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}
